/* Resetting margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar styles */
.nav-bar {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 8px 0;
    color: white;
    background-color: #212529;
    height: 2.5rem;
    width: 100%;
}

.nav-bar-logo {
    font-size: 20px;
    margin-right: 1rem;
    padding: 5px 0;
}

.nav-bar-logo a {
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-size: 1.25rem;
}

.nav-bar-link {
    width: 80%;
}

.nav-bar-link a {
    text-decoration: none;
    color: #ffffffb6;
    padding: 0 10px;
    font-size: 1rem;
}

.nav-bar-link a:hover {
    color: white;
}

.nav-bar-menu {
    position: absolute;
    right: 1rem;
    opacity: 0;
}

.nav-bar-menu span {
    opacity: 0.5;
}

.nav-bar-menu span:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

/* Main content styling */
.home-page {
    display: flex;
    justify-content: center;
}

.home-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.home-content {
    text-align: center;
}

.home-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.home-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.home-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-button a {
    background-color: #0d6efd;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

.home-button a:hover {
    background-color: #0b5ed7;
    cursor: pointer;
}

/* Side menu styles */
.side-menu {
    position: fixed;
    top: 0;
    right: -350px; /* Initially hidden off-screen */
    width: 250px;
    height: 100vh;
    background-color: #212529;
    color: white;
    transition: right 0.3s ease-in-out;
    padding: 20px;
    opacity: 0;
}

.side-menu.active {
    right: 0; /* Bring on-screen when active */
}

.side-menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 2rem 1.5rem;
}

.side-menu h2 {
    margin-top: 0.75rem;
    font-weight: normal;
    margin-left: 1rem;
    font-size: 25px;
}

.side-menu li {
    margin: 0.5rem 0;
    padding: 1rem;
}

.side-menu span {
    position: absolute;
    right: 1.5rem;
    opacity: 0.5;
}

.side-menu span:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

/* Footer styles */
footer {
    background-color: #212529;
    color: white;
    padding: 0.5rem;
    font-size: 0.875rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 1rem;
}

.footer-copyright {
    font-size: 0.875rem; 
    font-weight: 300;
    flex: 1 1 auto;
    text-align: left;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.footer-icons a {
    font-size: 1.25rem;
    margin: 0 20px;
    color: #FFFFFF8C;
    transition: transform 0.3s, filter 0.3s;
}

.footer-icons a:hover {
    color: #ffffffcf;
    transform: scale(1.1);
    filter: brightness(1.75);
}

/* Responsive behavior */
@media (max-width: 951px) {
    .nav-bar-link a {
        display: none;
    }

    .nav-bar-menu {
        opacity: 1;
    }

    .side-menu {
        opacity: 1;
    }
}

@media (max-width: 750px) {
    .home-container {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-copyright {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-icons {
        justify-content: center;
    }
}
